<section>
  <div class='container mx-auto'>
    <h2 class='text-4xl font-extrabold text-gray-100 mb-2'>
      Experiencia Laboral
    </h2>
    <div class='text-gray-200 gap-4 text-lg'>
      <h1>Municipalidad distrital de montero</h1>
      <p>Personal de Apoyo en el Área de Defensa Civil</p>
      <p>01 de enero de 2024 - 31 de marzo de 2024</p>
      <ul class='list-disc pl-12'>
        <li>
          Manejo del sistema SINPAD para registro y seguimiento de eventos y
          acciones de defensa civil.
        </li>
        <li>
          Coordinación y entrega de bienes de ayuda humanitaria a personas
          afectadas por desastres naturales.
        </li>
        <li>
          Realización de censos para identificar a personas damnificadas por
          lluvias u otros desastres.
        </li>
        <li>
          Respuesta oportuna y eficaz a diversos documentos y solicitudes del
          área de Defensa Civil.
        </li>
      </ul>
    </div>
  </div>
</section>
